html {
  font-family: $font-family;

  .v-application {
    [class*="text-"] {
      font-family: $font-family, sans-serif !important;
    }
    font-family: $font-family, sans-serif !important;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 500;
    font-family: $font-family;
  }

  // tables beautify
  .v-table {
    table {
      padding: 4px;
      padding-bottom: 8px;

      th {
        text-transform: uppercase;
        white-space: nowrap;
      }

      td {
        border-bottom: 0 !important;
      }

      tbody {
        tr {
          transition: box-shadow 0.2s, transform 0.2s;

          &:not(.v-data-table__selected):hover {
            box-shadow: 0 3px 15px -2px rgba(0, 0, 0, 0.12);
            transform: translateY(-4px);
          }
        }
      }
    }
  }

  .v-btn {
    text-transform: capitalize;
  }

  .shadow-1 {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px !important;
  }
}
