// enforce font globally
@use "vuetify/styles";
// @use "vuetify/variables";
@import "./variables";
@import "./override";
@import "./common/gradients.scss";
@import "./common/animation.scss";
@import "./common/beautify.scss";
@import "vue3-perfect-scrollbar/dist/vue3-perfect-scrollbar.css";