::-webkit-scrollbar {
  width: 5px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar:horizontal {
  height: 5px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb-horizontal {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #ccc;
}

.shadow-1 {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px !important;
}

.two-line {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.three-line {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}



.h-full {
  height: 100%;
}

.w-full {
  width: 100%;
}

.w-screen {
  width: 100vw !important;
}

.card-title {
  color: rgba(var(--v-theme-grey-800)) !important;
  font-weight: bold !important;
  font-size: 18px !important;
}