// Theme gradients
.gradient {
  &.primary {
    color: white;
    background: linear-gradient(
      318deg,
      rgba(67, 56, 202, 1) 12%,
      rgba(79, 70, 229, 1) 38%,
      rgba(99, 102, 241, 1) 100%
    ) !important;
  }
  &.cancel {
    // color: #1e293b;
    background: linear-gradient(
      318deg,
      rgba(203, 213, 225, 1) 12%,
      rgba(226, 232, 240, 1) 38%,
      rgba(241, 245, 249, 1) 100%
    ) !important;
  }
  &.success {
    color: white;
    // background: linear-gradient(
    //   318deg,
    //   rgba(21, 128, 61, 1) 12%,
    //   rgba(22, 163, 74, 1) 38%,
    //   rgba(34, 197, 94, 1) 100%
    // ) !important;

    background: linear-gradient(
      318deg,
      rgba(66, 186, 91, 1) 12%,
      rgba(113, 207, 86, 1) 38%,
      rgba(153, 223, 75, 1) 100%
    ) !important;
  }
  &.info {
    color: white;
    background: linear-gradient(
      318deg,
      rgba(30, 64, 175, 1) 12%,
      rgba(37, 99, 235, 1) 38%,
      rgba(59, 130, 246, 1) 100%
    ) !important;
  }
  &.warn {
    color: white;
    background: linear-gradient(
      318deg,
      rgba(180, 83, 9, 1) 12%,
      rgba(217, 119, 6, 1) 38%,
      rgba(245, 158, 11, 1) 100%
    ) !important;
  }
  &.error {
    color: white;
    background: linear-gradient(
      318deg,
      rgba(153, 27, 27, 1) 12%,
      rgba(220, 38, 38, 1) 38%,
      rgba(248, 113, 113, 1) 100%
    ) !important;
  }
  &.gray {
    color: white;
    background: linear-gradient(
      318deg,
      rgba(30, 41, 59, 1) 12%,
      rgba(44, 55, 74, 1) 38%,
      rgba(71, 85, 105, 1) 100%
    ) !important;
  }
}
